<h1>whats your hair color <%=f_name%></h1>

<form type = "post" action = "haircolor">
	<input type = "text" name  = "hair">
	<input type = "submit" value = "enter">
	<input type = "hidden" name = "f_name" value = "<%=f_name%>">
	<input type = "hidden" name = "f_name" value = "<%=l_name%>">
	<input type = "hidden" name = "age" value = "<%=age%>">
</form>
