<h1>how old are you <%=f_name%></h1>
<form method = "post" action = "how_old">
	<input type = "text" name = "age">
	<input type = "submit" value = "enter">
	<input type = "hidden" name = "f_name" value = "<%=f_name%>">
	<input type = "hidden" name = "l_name" value = "<%=l_name%>">
</form>