<h1><%=f_name%> please enter your last name</h1>
<form type = "post" name = "last_n">
	<input type = "text" name = "l_name">
	<input type = "submit" value = "enter">
	<input type = "hidden" name = "f_name" value = "<%=f_name%>">
</form>
